body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.favorites-div {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.favorites-header-div {
  display: flex;
  justify-content: center;
}

.favorite-div-star {
  align-self: center;
}

.single-favorite {
  font-family: "Roboto Slab", serif;
  font-size: small;
}

.map-div {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  width: 90%;
  height: 50vh;
  align-self: center;
}

.header {
  display: flex column;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.title-and-logo {
  display: flex;
  justify-content: flex-start;
}

.logo-and-desc {
  display: flex column;
  justify-content: flex-start;
}

.main-logo {
  align-self: center;
}

.website-desc {
  font-family: "Roboto Slab", serif;
  font-size: small;
}

.loading-msg {
  text-align: center;
  font-style: italic;
  font-size: small;
  margin-left: 20px;
  margin-right: 20px;
}

.locating-msg {
}
