body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.map-div {
  display: flex;
  justify-content: center;
}

.leaflet-container {
  width: 90%;
  height: 50vh;
  align-self: center;
}

.header {
  display: flex column;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.locating-div {
  display: flex;
  justify-content: center;
}

.locating-msg {
}
